.information {
    max-height: 1567px;
    padding: 40px 0 80px 0;
    background: url('../../img/information_bg.png') center (center/cover) no-repeat;
    &__welcome {
        max-width: 1107px;
        max-height: 128px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo {
            width: 172px;
            height: 148px;
        }
        &__descr {
            text-align: center;
            font-weight: 300;
            font-size: 36px;
            line-height: 34px;
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 450px;
        &:nth-child(odd) {
            flex-direction: row-reverse;
            text-align: end;
        }
        a {
            display: inline-flex;
            text-decoration: none;
            font-weight: 500;
            color: #000000;
            img {
                padding-left: 25px;
            }
        }
        &__descr {
            font-style: normal;
            font-weight: 300;
            font-size: 36px;
            line-height: 45px;
        }
    }
    
    
}