.menu {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 69px;
    width: 100%;
    left: 0px;
    top: 0px;
    background: rgba(32, 50, 38, 0.5);
    z-index: 999;
    &__wrapper {
        display: flex;
        height: 100%;
        width: 1210px;
        justify-content: center;
    }
    &__item {
        cursor: pointer;
        height: 100%;
        padding-top: 23px;
        padding-left: 35px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        &:first-of-type {
            padding-left: 0px;
        }
        a {
            text-decoration: none;
            color: #FFFFFF;
        }
    }
}