.reviews {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    background:#FAE8D8;
    &__carousel {
        position: relative;
        width: 1210px;
        height: 825px;
        background: rgba(222, 180, 167, 0.5);
        border: 1px solid #000000;
        border-radius: 88px;
        padding: 35px 0;
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1034px;
            margin: 0 auto;
        }
        &__item {
            transition: all 1.5s ease-in-out;
            display: none;
            width: 282px;
            border-radius: 20px;
            
            &_active {
                display: block;
            }
            &_main {
                width: 390px;
                border: 1px solid #000000;
            }
        }
        &__arrow-next, &__arrow-prev {   
            user-select: none;
            position: absolute;
            top: 35%;
            width: 55px;
            height: 54px;
            right: 10px;
            outline: none;
        }
        &__arrow-prev {
            transform: rotate(180deg);
            left: 10px;
        }
        .arrow-prev__wrapper, .arrow-next__wrapper {
            cursor: pointer;
            z-index: 999;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 730px;
            width: 400px;
        }
        .arrow-next__wrapper {
            left: auto;
            right: 0;
        }
        &__dots {
            display: flex;
            justify-content: center;
            padding-bottom: 25px;
        }
        &__dot {
            cursor: pointer;
            width: 50px;
            height: 8px;
            background: rgba(255, 255, 255, .2);
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            &_active {
                background: rgb(255, 255, 255);
            }
        }
    }
}