.title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #000000;
    padding-bottom: 23px; 
    &_center {
        text-align: center;
    }
    &_divider {
        &:after, &:before {
            position: absolute;
            top: -30px;
            right: 0;
            content: '';
            width: 35%;
            height: 0px;
            border: 1px solid #000000;
        }
        &:before {
            right: auto;
            left: 0;
        }
    }
}